<div class="">
	<% if(enableSearch) { %>
	
		<div class="searcher">
			<ul class="form">
				<li>
					<label for="treeSearcher">Search: </label>
					<input type="text" id="treeSearcher" class="searchBox" size="30" value="" <%= plugin("remotesupport_plugins_textbox") %> />
				</li>
			</ul>
		</div>
	
	<% } %>
	<div id="tree-plugin-main">
	</div>
</div>