<div class="">
	<% if(enableSearch) { %>
	
		<div class="searcher">
			<ul class="form">
				<li>
					<label for="listSearcher">Search: </label>
					<input type="text" id="listSearcher" class="searchBox" size="30" value="" <%= plugin("tcozui_textbox") %> />
				</li>
			</ul>
		</div>
		
	<% } %>
	
	<div id="list-plugin-main">
	</div>
</div>